<table>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
	<th>Actions</th>
  </tr>
 
  <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.title %></td>
	  <th colspan="2"></th>
      <td><%= link_to 'Start Survey', new_submission_path(survey_id: survey.id) %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<table>
  <tr>
    <th>Submission ID</th>
    <th colspan="2"></th>
	<th>Survey Title</th>
	<th colspan="2"></th>
	<th>Actions</th>
  </tr>
 
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.id %></td>
	  <th colspan="2"></th>
	  <td><%= submission.survey.title %></td>
	  <th colspan="2"></th>
      <td><%= link_to 'View & Edit Responses', submission_path(submission) %></td>
	  <th colspan="2"></th>
	  <td><%= link_to 'Delete Submission', submission_path(submission),
								method: :delete,
								data: {confirm: 'This can\'t be undone. You sure?'} %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'Back', surveys_path %>