<h1>Answering question:<br>
<%= @response.question.title %>
</h1> 

<% if @response.question.answer_type == 'text' %>
	<%= form_for :response, url: response_path(@response), method: :patch do |f| %>
	 
		<% if @response.errors.any? %>
			<div id="error_explanation">
			  <h2>
				Something's wrong with this answer submission:
			  </h2>
			  <ul>
				<% @response.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			  </ul>
			</div>
		<% end %>
	 
	  <p>
		<%= f.text_field :text_response %>
	  </p>
	 
	  <p>
		<%= f.submit %>
	  </p>
	 
	<% end %>
<% elsif @response.question.answer_type == 'dropdown' %>
	<%= form_for @response, url: {action: "update"} do |f| %>
		<%= collection_select(:response, :text_response, @response.question.answers, :id, :answer) %>
		<%= f.submit %>
	<% end %>
<% elsif @response.question.answer_type == 'checkboxes' %>
	<b>Select all that apply:</b>
	<%= form_for @response, url: {action: "update"} do |f| %>
		<%= f.hidden_field :text_response %>
		<% for answer in @response.question.answers %>
		<p>
			<%= check_box_tag "response[answer_ids][]", answer.id, @response.answers.include?(answer) %>
			<%= answer.answer %>
		</p>
		<% end %>
		<p>
			<%= f.submit %>
	 	</p>
	<% end %>
<% end %>

<%= link_to 'Back', @response.submission %>

 