<h1>New Survey</h1>
<%= form_for :survey, url: surveys_path do |f| %>
  
  	<% if @survey.errors.any? %>
		<div id="error_explanation">
		  <h2>
			Something's wrong with this survey title:
		  </h2>
		  <ul>
			<% @survey.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>
  
  <p>
    <%= f.label :survey_title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', surveys_path %>